{% extends 'mainApp/wrapper.html' %}

{% block content %}
{% load staticfiles %}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
  <main>
    <div class="container">
      <div class="text-center">
        <section><!--отделяет логичиские разделы-->
        <div>
        	<img src="{% static 'mainApp/images/catacl.jpg' %}" usemap="#karta">
        	<map name="karta">
      	  	<area shape="rect" coords="24, 18, 600, 300" href="navigation.html" alt="">
      	  </map>
        </div>
        <p><h1>Какие природные катаклизмы существуют?</h1></p>
        <ol class="text-left">
          <li>Ураган</li>
          <li>Наводнение</li>
          <li>Землетрясение</li>
          <li>Цунами</li>
          <li>Лавина</li>
        </ol>
         </section>
         <section>
           <p><h2>Ураган</h2></p>
           <p>Ураган и смерч являются атмосферными вихрями. Однако образуются и проявляют себя эти два природных явления по-разному. Ураган сопровождается сильным ветром, а смерч возникает в грозовых облаках и представляет собой воздушную воронку, сметающую всё на своём пути. Скорость ураганного ветра на Земле 200 км/ч около земли. Это одно из самых разрушительных явлений природы: проходя по поверхности земли, он выворачивает с корнями деревья, срывает крыши домов, обрушивает опоры линий электропередач и связи. Ураган может существовать в течение нескольких дней, ослабевая и вновь набирая силу. Опасность урагана оценивают по специальной пятибалльной шкале, которая была принята в прошлом веке. Степень опасности зависит от скорости ветра и от разрушений, которые производит ураган. Но земные ураганы далеко не самые сильные. На планетах-гигантах (Юпитере, Сатурне, Уране, Нептуне) скорость ураганного ветра достигает 2000 км/ч.
            <img src="{% static 'mainApp/images/smerch.jpg' %}" alt="Ураган">
            <p>Смерч образуется при перемещении неравномерно нагревающихся слоёв воздуха. Он распространяется в виде тёмного рукава по направлению к суше (воронке). Высота воронки может достигать 1500 метров. Воронка смерча закручивается снизу вверх против часовой стрелки, засасывая всё, что окажется рядом с ней. Именно из-за пыли и воды захваченной с земли смерч приобретает темный цвет и становится видимым издалека. Скорость продвижения смерча может достигать 20 м/с, а диаметр до нескольких сот метров. Сила его позволяет поднимать в воздух вырванные с корнем деревья, автомобили и даже небольшие строения. Смерч может возникать не только над сушей, но и над водной поверхностью.</p>
           </p>
         </section>
            <section>
           <p><h2>Наводнение</h2></p>
           <p>Наводнения являются одним из самых распространённых стихийных бедствий. Они составляют 19% от общего числа природных катастроф. Наводнением называется затопление суши, происходящее в результате сильного подъёма уровня воды в реке, озере или море (разлива), из-за таяния снега или льда, а также сильных и продолжительных дождей.</p>
            <img src="{% static 'mainApp/images/navodn.jpg' %}" alt="Наводнение">

            <p>Половодья и паводки происходят каждый год везде, где есть полноводные реки и озёра. Они обычно ожидаемы, подтапливают сравнительно небольшую территорию и не приводят к гибели большого количества людей, хотя и вызывают разрушения. Если же эти виды наводнений сопровождаются сильными дождями, то затапливают уже гораздо большую территорию. Обычно в результате подобных наводнений происходят разрушения лишь небольших построек без укреплённого фундамента, нарушение связи и электроснабжения. Основные неудобства доставляет затопление нижних этажей зданий и дорог, в результате которых жители затопленных районов остаются отрезанными от суши. </p>

           </p>
         </section>
          <section>
           <p><h2>Землетрясение</h2></p>
           <p>
            Землетрясение – это сильное колебание поверхности земли, вызванное процессами, происходящими в литосфере. Большинство землетрясений происходит по близости от высоких гор, так как эти области до сих продолжают формироваться и земная кора здесь особенно подвижна.
            <p><bold>Землетрясения бывают нескольких видов</bold>: тектонические, вулканические и обвальные. Тектонические землетрясения возникают при смещении горных плит или в результате столкновений океанической и материковой платформ. При таких столкновениях образуются горы или впадины и происходят колебания поверхности. </p>

            <img src="{% static 'mainApp/images/earthq.jpg' %}" alt="Землетрясение">
            <p><bold>Изучением землетрясений занимаются учёные — сейсмологи.</bold> По их данным, в год на нашей планете происходит примерно  500  тысяч  землетрясений различной силы. Около 100 тысяч из них ощущаются людьми, а 1000 причиняют ущерб. </p>
           </p>
         </section>
         <section>
           <p><h2>Цунами</h2></p>
           <img src="{% static 'mainApp/images/cunami.jpg' %}" alt="Цунами" class="rightimg" width="400" height="200">
           <p>
          Цунами (японск.) — гигантские волны, обладающие разрушительной силой. Они вызываются подводными землетрясениями, вулканическими извержениями или подводными оползнями. Эти явления обычно сопровождаются сильным подземным толчком, передаваемым водой на поверхность, что бывает небезопасно для судов, находящихся в этом районе. Последующие волны, вызванные ударом, в открытом океане заметить практически невозможно, поскольку они здесь очень пологие. Зато они распространяются с огромной скоростью (до 1000 км/час). Приближаясь к берегу, они становятся круче и выше, приобретая страшную разрушительную силу. В результате на побережье могут обрушиваться гигантские водяные валы высотой от 10 до 50 метров и более.
          </p>
         </section>
         <section>
           <p><h2>Лавина</h2></p>
           <p>
             Лавина – огромная масса снега, периодически низвергающаяся, в виде оползней и обвалов, с крутых гребней и склонов высоких снеговых гор. Лавины движутся обыкновенно по существующим на склонах гор рытвинам выветривания и в месте, где прекращается их движение, в речных долинах и у подошвы гор, отлагают снежные груды, известные под именем лавинных конусов.
          </p>
          <img src="{% static 'mainApp/images/lavina.jpg' %}" alt="Лавина">
          <p>
            Порывы ветра, вызванные быстрым передвижением снеговой массы, настолько сильны, что ломают деревья, срывают крыши и даже разрушают здания. Весенние лавины вызываются тем, что вода, образующаяся при таянии, нарушает связь между почвой и снеговым покровом. Снежная масса на более крутых склонах обрывается и скатывается вниз, захватывая в своем движении камни, деревья и постройки, встречающиеся на пути, что сопровождается сильным гулом и треском.
          </p>
         </section>
         <h2>Самые страшные природные катастрофы(видео):</h2>
         <iframe width="700" height="480" src="https://www.youtube.com/embed/QfSQqDR3LvA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>

  </main>

{% endblock %}
