{% extends 'mainApp/wrapper.html' %}

{% block content %}
{% load staticfiles %}
<br>
<br>
<br>
<br>
<br>
<br>

<h3 class="text-center">Что такое sustainable fashion?</h4>
<div class="text-center"><p>По степени загрязнения окружающей среды модная индустрия уступает только нефтедобыче. Еще несколько десятилетий назад на эту проблему старались закрыть глаза, но сегодня крупные бренды и мировые дизайнеры озадачились вопросом экологии. На смену традиционным способам производства стали приходить альтернативные безопасные технологии, а в модном словаре появилось словосочетание sustainable fashion — устойчивая, экологически стабильная, осознанная мода. Такой подход предполагает безопасное использование ресурсов и бережное отношение к окружающей среде.</p></div>


<h3 class="text-center">Главные события устойчивой моды</h3>
<div class="text-center"><p>Постоянно проводятся модные события, основная цель которых — привлечь внимание к проблемам экологии и гуманизма. За последние годы их стало гораздо больше, что говорит о популяризации идеи.</p></div>

<br>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-12 col-sm-12">
      <img src="{% static 'mainApp/kartinki/1.jpeg' %}" style="padding-right:60px" width="620" height="380"  class="img-fluid" alt="Reduse">
    </div>
    <div class="col-md-6 col-xs-12 col-sm-12">
			     <p><h1>Copenhagen Fashion Summit</h1></p>
        <p>Знаковое событие в сфере экомоды и моды вообще. Впервые саммит состоялся в 2009 году. С тех пор стильные мира сего собираются на крупном форуме, чтобы обсудить развитие модной индустрии во всех ее аспектах. Вопросы защиты окружающей среды и способы воплощения экологических проектов — главная тема, которая красной нитью проходит на саммите.</p>


  </div>
</div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-12 col-sm-12">
           <p><h1>The green carpet fashion awards</h1></p>
        <p>Молодая премия в сфере устойчивой моды. Впервые это событие прошло после закрытия итальянской недели моды в 2017 году. Премия достается главным действующим лицам в сфере экологии. В прошлом году наград удостоились Жизель Бюндхен, Том Форд и другие. Вторая ежегодная церемония прошла 23 сентября в Милане. Награды взяли Донателла Версаче, Ферруччо Феррагамо. Мероприятие посетили Джулиана Мур, Синди Кроуфорд, Кейт Бланшетт и другие знаменитости, которым небезразлична судьба планеты.</p>
  </div>
  <div class="col-md-6 col-xs-12 col-sm-12">
    <img src="{% static 'mainApp/kartinki/2.jpeg' %}" style="padding-right:60px" width="620" height="380"  class="img-fluid" alt="Reduse">
  </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-12 col-sm-12">
      <img src="{% static 'mainApp/kartinki/3.jpeg' %}" style="padding-right:60px" width="620" height="380"  class="img-fluid" alt="Reduse">
    </div>
    <div class="col-md-6 col-xs-12 col-sm-12">
			     <p><h1>Ethical fashion show berlin</h1></p>
        <p>Выставка в рамках недели моды в Берлине, основная задача которой — продемонстрировать экологические тенденции в индустрии моды. В шоу принимают участие не только бренды, которые давно доказали свое трепетное отношение к окружающей среде, но и совсем молодые компании. Кроме того, в рамках берлинской недели моды ежегодно проходят конференции, посвященные экологии.</p>


  </div>
</div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-12 col-sm-12">
           <p><h1>Стелла Маккартни</h1></p>
        <p>Дочь Пола Маккартни — участника легендарной группы «the beatles» — решила не идти по стопам отца. Стелла Маккартни основала одноименный бренд одежды, философия которого заключается в экологичности и гуманном отношении к животным.
Маккартни одна из первых на подиуме заявила о необходимости использовать органические ткани и отказаться от меха и кожи на масштабной модной сцене. Сейчас Стелла сотрудничает с известными марками и создает вещи из переработанных материалов.</p>
  </div>
  <div class="col-md-6 col-xs-12 col-sm-12">
    <img src="{% static 'mainApp/kartinki/4.jpeg' %}" style="padding-right:60px" width="620" height="380"  class="img-fluid" alt="Reduse">
  </div>
</div>
</div>


 <!--
<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Danger card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Warning card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
-->



<nav aria-label="Page navigation" class="text-center">
  <ul class="pagination justify-content-center">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="/mainApp/companies">1</a></li>
    <li><a href="/mainApp/companies1">2</a></li>
    <li><a href="/mainApp/companies2">3</a></li>
    <li>
      <a href="/mainApp/companies1" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock %}
