{% extends 'mainApp/wrapper.html' %}

{% block content %}
{% load staticfiles %}
<div class="container-fluid bg-grey between">
<div class="row">
  <div class="col-sm-2">
    <span class="glyphicon glyphicon-globe logo"></span>
  </div>
  <div class="col-sm-10">
    <h2>Основные задачи</h2>
    <h4><strong>Введение:</strong> Окружающая среда…  В значение этого слова необходимо вкладывать не только понятия атмосфера, биосфера, гидросфера и литосфера. Нет. Окружающая среда - это тот живой мир, что нас окружает, в котором мы растем, у которого учимся жить. Природа - это такое же живое существо, как и мы, которое тоже может любить, оберегать или же мстить за неподобающее к ней отношение. «Даже камень имеет душу…»</h4>
    <h4><strong>Цель:</strong> Каждый из нас знает как важно сохранять состояние природы в нужном порядке, но не каждый этому способствует. После прочтения этой статьи вы сможете понимать масштабноть ваших ударов в ущерб Земле. Хотелось бы что бы вы этого не делали.</h4>
  </div>
</div>
</div>
<div class="container-fluid bg-grey">
<div class="row">
  <div class="col-sm-10">
    <h2>Взаимовыгода</h2>
    <h4><strong>Мысль:</strong> <p>Человек и природа неразрывно связаны между собой. Мы в огромной степени зависим от окружающего нас мира. Еще не так давно господствовало мнение, что человек является царем природы, ее полноправным хозяином. Однако на сегодняшний день ясно, что мы – всего лишь крошечная частица в мире.</p>

  <p>Взаимодействие человека с природой может быть гармоничным только тогда, когда мы уважительно и бережно относимся к ее дарам. Люди составляют единое целое с окружающей средой, поэтому должны нести ответственность за свои действия и оценивать их последствия.</p></h4>
    <h4><strong>Проблемы:</strong><p>К сожалению, от неразумных и непродуманных действий людей природа терпит большой ущерб. Например, вырубка лесов разрушает естественную среду обитания многих животных и растений, ведет к снижению выработки кислорода, что, в свою очередь, неизбежно вызывает глобальное потепление.</p><p> На месте вырубленных лесов зачастую образуются пустыни, поскольку после исчезновения деревьев верхний плодородный слой почвы легко размывается.</p>

  <p>Быстрый рост населения приводит к тому, что для его обеспечения пищей приходится применять новые технологии в сельском хозяйстве. Если раньше плодородную почву не эксплуатировали постоянно, давая ей некоторое время отдохнуть, то сейчас люди распахивают все новые площади и используют их без перерыва, тем самым снижая плодородие.</p></h4>
  </div>
  <div class="col-sm-2">
    <span class="glyphicon glyphicon-transfer logo logo-pad"></span>
  </div>
</div>
</div>


<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner bgr" role="listbox">
    <div class="item active">
    <img src="{% static 'mainApp/images/2.jpeg' %}" alt="">
    </div>
    <div class="item">
      <img src="{% static 'mainApp/images/3.jpg' %}" alt="">
    </div>
    <div class="item">
     <img src="{% static 'mainApp/images/tree.jpg' %}" alt="">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>





<div class="container">
  <div class="row ">
    <div class="col-md-4 col-xs-12 col-sm-12">
				<p><h1>Reduce.Сократить потребление.</h1></p>
					<p><img src="{% static 'mainApp/images/reduse.jpg' %}" alt="Reduse" width="160" height="174" class="img-rounded rightimg">
						<p>Как отметил один из экспертов портала Life Goggles, хорошо, конечно, перерабатывать товары, а не выкидывать, но еще лучше их вообще не покупать. С одной стороны, уменьшение количества вещей, которые вы используете в повседневной жизни, является первым и самым важным шагом на пути начинающего спасателя планеты. С другой стороны, это поможет разгрузить личное жизненное пространство и почувствовать себя немного свободнее.</p>

						<p>На самом деле reduce - самый простой путь, не требующий приложения энергии на поиски возможностей переработать вещь или использовать ее повторно. Нужно просто решить для себя, что вам действительно нужно, а что нет. В последнюю категорию может попасть все что угодно, от неэкономного потребления электричества и воды до злоупотребления пластиковыми пакетами и упаковкой. </p>
						<p>Некоторые продукты, например, бананы, не нуждаются в дополнительной упаковке. Нет нужды держать микроволновку включенной в розетку круглые сутки, если вы раз в день разогреваете в ней хлеб с сыром, а, идя за покупками, можно заранее позаботиться о том, чтобы взять многоразовую сумку или уже имеющийся у вас пакет.

						Вовсе необязательно ограничивать себя во всем. Избавьтесь хотя бы от привычек, которые не доставляют вам удовольствия, уже полдела. Об остальных можно подумать позже.</p>
					</p>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-12">
			     <p><h1>Reuse.Использовать повторно.</h1></p>
					<p class="text-center text-nowrap"><p><img src="{% static 'mainApp/images/reuse.jpg' %}" alt="Reuse" width="180" height="174" class="img-rounded img-responsive rightimg">
						Мы сбросили балласт, отказались от покупки стодвадцатой юбочки и стотридцатой удочки. Теперь стоит найти возможность использовать какие-то вещи повторно. </p>
						<p>Органические отходы можно превратить в компост, старую одежду сдать в приют, храм или подарить на ДаруДар, какие-то старые вещи можно использовать для создания новых. Начиная от посуды из цитрусовых корок и кокосов, заканчивая бусами из пуговиц. Вариантов множество. В общем-то в потоке DIY есть масса "рецептов" на эту тему. Кроме того, такие штуки очень любят дети - одно удовольствие мастерить с ними какие-нибудь новые вещи из старых, магия.</p>

						<p>Существует также целое направление в дизайне, работающее только со вторичными материалами. Примеров по всему миру масса, скажем, скамейки из старых скейтов в Америке, сумки Freitag из автомобильных тентов в Швейцарии, сумки bannerbag из рекламных баннеров у нас в Москве и т.д. Вариантов на любой вкус.</p></p>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-12">
			     <p><h1>Recycle.Перерабатывать.</h1></p>
					<p><img src="{% static 'mainApp/images/recycle.jpg' %}" alt="Recycle" width="180" height="174" class="img-rounded img-responsive rightimg">
					<p>Итак, первые два шага прошли безболезненно, можно спасать мир дальше. Что-то все равно придется выкидывать, без этого никак. Причем, как показывает статистика, львиная доля всех домашних отходов приходится на многочисленные упаковки из супермаркетов, в которых мы приносим домой продукты - тетрапаки, картонные коробки, стеклянные и алюминиевые банки, несколько видов пластика. Вместо того, чтобы сбрасывать их в общую мусорную корзину, соберите отдельно и отдайте в переработку - это поможет сохранить ресурсы. Например, на рисайклинг алюминиевой банки нужно на 80% меньше электроэнергии, чем на производство новой. Экономия. Ну и, конечно, плюс в карму. На сегодняшний день есть масса пунктов приема вторсырья, куда можно отвезти мусор. Хотя бы частично.</p>

					<p>И хорошая новость: если первый и второй этап прошли успешно, вам уже не придется нанимать мусоровоз, чтобы доставлять свой мусор на пункты приема вторсырья. Постепенно вы перенестанете обрастать им в привычных масштабах. Вам понравится. И тогда, скорее всего, этих трех простых шагов вам станет недостаточно. Главное начать.</p></p>
   </div>
</div>
</div>

{% endblock %}
