{% extends 'mainApp/wrapper.html' %}

{% block content %}
{% load staticfiles %}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container">

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-9">
      <div class="jumbotron">
        <h1>Эко-философия для каждого из нас!</h1>
        <p>Единственные, кто способны что-либо изменить – это мы сами. Как мы можем улучшить экологию?</p>
      </div>
      <div class="row">
        <div class="col-6 col-xs-12 col-sm-12 col-lg-4">
          <h2><i>Будьте мудрым потребителем.</i></h2>
          <p>1.Покупайте вещи только если они действительно нужны: подумайте хорошенько перед покупкой, откажитесь от спонтанных приобретений, готовьте список необходимых покупок перед тем, как идти в магазин. И помните: лучше один раз купить качественную вещь, чем несколько раз дешевую. Афоризм «Скупой платит дважды» теперь касается и экологии. Не болейте расточительством. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!--/span-->
        <div class="col-6 col-xs-12 col-sm-12 col-lg-4">
          <h2><i>Не покупайте мусор.</i></h2>
          <p>Отдавайте предпочтение товарам без лишней упаковки. Зачем вам еще один красивый пакетик-коробочка-баночка, если пользоваться ими вы все равно не будете?</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!--/span-->
        <div class="col-6 col-xs-12 col-sm-12 col-lg-4">
          <h2><i>Откажитесь от одноразовых пластиковых пакетов. </i></h2>
          <p> Пластик не разлагается естественным путем: в Тихом океане уже образовался остров, который полностью состоит из отходов жизнедеятельности человека. Наевшись такого мусора, ежегодно погибает 100 тысяч животных. Поэтому лучше носить с собой удобную многоразовую эко-сумку, которая будет полезна для экологии и поможет сэкономить сотню-две гривен, избавив от необходимости каждый раз покупать новый пластиковый пакет.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!--/span-->
        <div class="col-6 col-xs-12 col-sm-12 col-lg-4">
          <h2><i>Сортировка мусора</i></h2>
          <p>1 тонна макулатуры сохранит 17-20 деревьев, а 1 т вторичных полимеров (пластмассы) сохранит 16 т сырой нефти. Если у вас под домом уже появились отдельные контейнеры для бытовых отходов и пластика-стекла-металла-бумаги, то грех этим не воспользоваться. Если такого нет, то можете обратиться в пункты приема вторсырья, или сложите аккуратно пачки бумаги, бутылки, пластик возле мусорника и кому-нибудь они точно пригодятся. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!--/span-->
        <div class="col-6 col-xs-12 col-sm-12 col-lg-4">
          <h2><i>Берегите воду.</i></h2>
          <p>Если сравнить Землю с головой младенца, то запасы пресной воды – это лишь слезинка в глазах. Ученые прогнозируют, что к 2050 году запасы пресной воды практически исчерпаны, а 4 млрд. человек даже не смогут удовлетворить суточную потребность в воде. Банальное «закрывайте кран, пока чистите зубы» имеет глубокий смысл: если так делать, то расходуется 1 л воды, в то время как при открытом кране вытекает 6 л / мин. Сократите время пребывания в душе, уменьшите напор, приобретите специальную экономическую насадку с функцией воздушного душа (насыщает поток воды воздухом). Ремонтируйте текущие краны.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!--/span-->
        <div class="col-6 col-xs-12 col-sm-12 col-lg-4">
          <h2><i>О бумаге.</i></h2>
          <p> Экономьте бумагу: печатайте с двух сторон, используйте черновики. Экономия 25 пачек бумаги спасет одно вырубленное дерево! Отдавайте предпочтение бумаге, выбеленной без хлора (с маркировкой PCF) и произведенной из контролируемых насаждений (с маркировкой FSC).</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/span-->
</div>
</div>

{% endblock %}
