{% load staticfiles %}
{% block content %}
<p>Встроенный блок</p>
<!--
  <div class="container-fluid bg-grey between">
  <div class="row">
    <div class="col-sm-2">
    {% static 'mainApp/images/tree.jpg' %}
      <span class="glyphicon glyphicon-globe logo"></span>
    </div>
    <div class="col-sm-10">
      <h2>Основные задачи</h2>
      <h4><strong>Введение:</strong> Окружающая среда…  В значение этого слова необходимо вкладывать не только понятия атмосфера, биосфера, гидросфера и литосфера. Нет. Окружающая среда - это тот живой мир, что нас окружает, в котором мы растем, у которого учимся жить. Природа - это такое же живое существо, как и мы, которое тоже может любить, оберегать или же мстить за неподобающее к ней отношение. «Даже камень имеет душу…»</h4>
      <h4><strong>Цель:</strong> Каждый из нас знает как важно сохранять состояние природы в нужном порядке, но не каждый этому способствует. После прочтения этой статьи вы сможете понимать масштабноть ваших ударов в ущерб Земле. Хотелось бы что бы вы этого не делали.</h4>
    </div>
  </div>
</div>
  <div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-10">
      <h2>Взаимовыгода</h2>
      <h4><strong>Мысль:</strong> <p>Человек и природа неразрывно связаны между собой. Мы в огромной степени зависим от окружающего нас мира. Еще не так давно господствовало мнение, что человек является царем природы, ее полноправным хозяином. Однако на сегодняшний день ясно, что мы – всего лишь крошечная частица в мире.</p>

	  <p>Взаимодействие человека с природой может быть гармоничным только тогда, когда мы уважительно и бережно относимся к ее дарам. Люди составляют единое целое с окружающей средой, поэтому должны нести ответственность за свои действия и оценивать их последствия.</p></h4>
      <h4><strong>Проблемы:</strong><p>К сожалению, от неразумных и непродуманных действий людей природа терпит большой ущерб. Например, вырубка лесов разрушает естественную среду обитания многих животных и растений, ведет к снижению выработки кислорода, что, в свою очередь, неизбежно вызывает глобальное потепление.</p><p> На месте вырубленных лесов зачастую образуются пустыни, поскольку после исчезновения деревьев верхний плодородный слой почвы легко размывается.</p>

	  <p>Быстрый рост населения приводит к тому, что для его обеспечения пищей приходится применять новые технологии в сельском хозяйстве. Если раньше плодородную почву не эксплуатировали постоянно, давая ей некоторое время отдохнуть, то сейчас люди распахивают все новые площади и используют их без перерыва, тем самым снижая плодородие.</p></h4>
    </div>
    <div class="col-sm-2">
      <span class="glyphicon glyphicon-transfer logo logo-pad"></span>
    </div>
  </div>
</div>







    <div class="jumbotron">
      <div class="container">
        <h1>{% include "mainApp/includes/some_html.html" %}</h1>
        {% block content %}
        {% endblock %}
        <p>
          <a href="/" class="btn btn-success btn-lg">Главная страница</a>
          <a href="/news" class="btn btn-primary btn-lg">Узнать больше &raquo;</a>
          <a href="/contact" class="btn btn-info btn-lg">Контакты</a>
        </p>
      </div>
    </div>
    <div class="container">
      <img src="{% static 'mainApp/images/southampton.jpg' %}" class="img-thumbnail">
      <hr>
      &copy; Все права защищены 2018
    </div>-->
{% endblock %}
